

.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: space-between;;
}
  .home-header{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .home-footer{
    position: absolute;
	bottom: 0;
  }

  .footer-menu{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    width: 90vw;
  }
  
  .setting-icon{
    display: block;
  }
  
  .display-icon{
    display: block;
  }
  
  .home-icon{
    display: block;
  }
  
  .content{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .button-option{
    width: 70px;
    height: 75px;
    background-color: #00D6D6;
    text-align: -webkit-center;
  }

  .transaction{
      font-size: 9px;
      font-weight: bold;
  }

  .transaction-icon{
    margin-top: 10px;
  }

  .options{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .dispositivos-name{
      margin-top: -7px;
      font-size: 9px;
      font-weight: bold;
  }

  .meus-name{
    margin-top: 3px;
    font-size: 9px;
    font-weight: bold;
  }

  .qrCode{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    background-color: #00D6D6;
    width: 250px;
    height: 40px;
    border-radius: 90px;
    align-self: center;
    margin-bottom: 40px;
  }

  .qrcode-content{
    flex-direction: row;
    flex: 1;
    display: flex;
    place-items: center;
    justify-content: center;
  }

  .access-name{
    margin-left: 20px;
    font-size: 12px;
    margin-right: 6px;
    font-weight: bold;
  }

  .saldo{
    color: #00D6D6;
    font-weight: bold;
  } 

  .saldo-value{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-top: -5px;
  }

  .logo{
    align-self: center;
    margin-bottom: 10px;
  }

  .user-name{
    color: #00D6D6;
    font-weight: bold;
  }

  .user-name-content{
      align-self: center;
      text-align: center;
  }

  .arrow-down{
      align-self: center;
  }